* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '양진체';
}
#Container {
  max-width: 800px;
  margin: auto;
}

#imgContainer {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
[alt='로고'] {
  max-width: 100%;
  height: auto;
}

main {
  text-align: center;
}

main ul {
  list-style: none;
}
main li {
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: '양진체';
  src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
